.dark-mode {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.dark-mode button {
  border: 1px solid white;
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.light-mode {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.light-mode button {
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
